# This file sets env vars for local development
# Help: Fill out the blank values

# Variables: Dev environment
export GOOGLE_PROJECT=""
export GOOGLE_CREDENTIALS=$(cat <<EOF
Replace this text with service account JSON
EOF
)
export TFSTATE_BUCKET=""

# Variables: Test environment
export TEST_GOOGLE_PROJECT=""
export TEST_GOOGLE_CREDENTIALS=$(cat <<EOF
Replace this text with service account JSON
EOF
)

# Configure backend bucket for dev environment
export TF_CLI_ARGS_init="-backend-config bucket=$TFSTATE_BUCKET"